.photoCard {
  background-color: #E8E6E6;
  border-radius: 10px;
  padding: 100px 0;
  text-align: center;

  .photoCardImage {
    width: 100px;
    height: 100px;
  }

  &:hover {
    cursor: pointer;
  }
}
