.photoCard {
  &:hover {
    cursor: pointer;
  }
}

#placementCard {
  align-items: center;
  background-color: #E8E6E6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}
