.photos {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
  overflow: hidden;

  .photosContent {
    padding: 1rem 1.5rem;
    overflow: scroll;

    h1 {
      font-size: 40px;
      font-weight: 500;
    }

    .photoGrid {
      display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin-top: 1rem;
    }
  }
}
