@import "../../scss/shared";

.dashboardContent {
  padding: 1rem 1.5rem;

  h1 {
    font-size: 40px;
    font-weight: 500;
  }
}

@media (max-width: $mobile-breakpoint) {
  .dashboardContent {
    // Accommodates the tab bar on mobile devices
    padding-bottom: 6.2rem;
  }
}
