@import "../../scss/shared";

.photoCard {
  &:hover {
    cursor: pointer;
  }
}

#placementCard {
  align-items: center;
  background-color: $card-background;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}
