@import "../../scss/shared";

.mobileSidebar {
  background-color: $ocean-blue;
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .navigationItems {
    display: flex;
    justify-content: space-evenly;

    .navigationLink {
      display: flex;
      flex-direction: column;
      color: white;

      svg {
        margin: auto;
      }
    }
  }
}

@media (min-width: $mobile-breakpoint + 1) {
  .mobileSidebar {
    display: none;
  }
}
