@import "../../scss/shared";

.sidebar {
  background-color: #02B0C8;
  color: white;
  padding: 1em;

  .profileCard {
    align-items: center;
    display: flex;

    img {
      border-radius: 30px;
      width: 60px;
      height: 60px;
    }

    p {
      font-weight: bold;
      padding-left: 0.5rem;
    }
  }

  .navigationItems {
    margin-top: 20%;

    .navigationLink {
      color: white;
      font-weight: 500;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .sidebar {
    display: none;
  }
}
