@import "../../scss/shared";

.sidebar {
  background-color: $ocean-blue;
  color: white;
  padding: 1em;

  .profileCard {
    align-items: center;
    display: flex;

    img {
      border-radius: 30px;
      width: 60px;
      height: 60px;
    }

    p {
      font-weight: bold;
      padding-left: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #logoutButton {
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  .navigationItems {
    margin-top: 2rem;

    div {
      margin: 1rem 0;
    }

    .navigationLink {
      color: white;
      font-weight: 500;
      margin-left: 1.4rem;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .sidebar {
    display: none;
  }
}
