@import "../../scss/shared";

.signUp {
  svg {
    color: $ocean-blue;
    margin: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer {
      text-align: center;
      width: 400px;

      h1 {
        font-size: 40px;
        margin-top: 2rem;
      }

      p {
        font-size: 18px;
        margin: 2rem auto;
      }

      .inputContainer {
        display: flex;
        margin: 16px 0;

        input {
          background-color: #f7f7f7;
          border: none;
          border-radius: 5px;
          height: 35px;
          width: 100%;
          font-size: 16px;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          -webkit-appearance: none;
          padding-left: 8px;

          &::placeholder {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      button {
        background-color: $ocean-blue;
        border: none;
        border-radius: 5px;
        color: white;
        height: 35px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .statusMessage {
      position: absolute;
      margin-bottom: 8px;
      width: 400px;
      bottom: 0;
    }

    @media (max-width: $mobile-breakpoint) {
      margin: 0 16px;
    }
  }
}
